* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: Helvetica, Arial, sans-serif;
    color: #333;
}

#chat{
    margin-bottom: 25px;
}

#chat li{
	list-style: none;
}